* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: black;
}

body {
    padding: 10px;
    font-size: 1;
    width: 2000px;
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h1,
h3,
h4,
label,
textarea {
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .left {
    flex: 0.2;
}

.container .right {
    flex: 0.8;
    display: flex;
    gap: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.utils-list {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
}

.utils-list li {
    cursor: pointer;
    color: yellow;
    font-weight: bold;
    font-size: 1.3rem;
}

.utils-list li:hover {
    opacity: 0.6;
}

.utils-list .active {
    color: green;
    font-size: 1.5rem;
}

textarea {
    height: 500px;
    width: 700px;
    padding: 5px;
    resize: none;
    margin-top: 15px;
}

.text-output textarea {
    cursor: pointer;
}

#message {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

#set-character-limit {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}

#set-character-limit input {
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

.hide {
    display: none !important;
}

#pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#pagination button {
    background-color: dodgerblue;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#pagination button:hover {
    opacity: 0.6;
}